target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.svn/
.settings/
.idea/
*.project
*.class
*.classpath
*.iml
*.uml
.metadata/
*.bak
*.log*

**/target/
**/node_modules/

**/mvnw
**/mvnw.cmd

**/.mvn
